@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.home
{
  height: 400px;
}

ul
{
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.nav-links
{
  padding: 12px 16px;
  background-color: rgb(70, 83, 97);
  color: white;
  border-radius: 10px;

}

.nav-links:hover
{
  background-color: rgb(57, 67, 78);
  transition: 1s all;
  cursor: pointer;
  color: black;
}

.logo
{
  width: 100px;
  height: auto;
}

body 
{
  background-color: whitesmoke
}

.register
{
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
}

.form-area
{
  display: flex;
  justify-content: center;
  align-items: center;
}

input
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(70, 83, 97);
  border-radius: 4px;

}

.register-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(70, 83, 97);
  border-radius: 4px;
  background-color: rgb(70, 83, 97);
  color: white;
}

.home-Title
{
  color: black;
  font-size: 60px;
  max-width: 800px;
  padding-left: 300px;
  padding-top: 100px;
}

form,plaaceholder
{
  color: black;
}

